$black: #353535;
$white: #fff;
$grey: grey;
$red: #E82C0C;
$green: #69c040;
$blue: #5a8eca;
$lightblue: darken(#f1f5f8, 10%);
$darkblue: #00245D;
$orange: #f8951d;

///

$body_background_color: $white;
$body_background_image: none;

$headline-font: 'dinbold', Gadget, sans-serif;
$headline-weight: 700;

$body-font: 'din', Arial, Helvetica, sans-serif;
$body-weight: 300;
$body-text-color: $black;
